* {
    box-sizing: border-box;
}
.bb111 {
    background-color: #999999;
}
header {
    height: 130px;
    background-color:  #000000;
}
footer {
    height: 100px;
    background-color:  #808080;
}
.ss111 {
    background-color: #666666;
    border-radius: 15px;
}
.logo2 {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
a {
    color: #412e2e;
}
table {
	order: 1;
	padding: 30px 0 30px 0;
     margin: auto;
	font-size: 20px;
}
tr{
	text-align: center;
}
th{
	width: 190px;
}
tr:nth-child(2n) {
    background-color: rgba(253, 203, 203, 0.349);
}
@media screen and (min-device-width: 576px) {
    .table {
        width: 60%;
    }
}

